* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(#a245ff, #520e7f);
    display: flex;
}


.container {
    display: flex;
    flex:2;
    align-items: center;
    justify-content: center;
}

.container .container__eye {
    display: flex;
    align-items: center;
    height: 120px;


    border-radius: 50%;
    border: 3px solid rgba(47, 32, 150, .3);
    box-sizing: content-box;
    margin: 0 20px;
    cursor: pointer;

}

.container .eye {
    position: relative;
    width: 120px; 
    height: 120px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 10px 30px rgba(0 0 0 / .4),
        inset 0 0 15px #a245ff, 
        inset 0 0 15px #a245ff;
    transition: border .3s ease, height .3s ease, border-radius .3s ease;

}

.container .eye::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #000;
    border: 10px solid #f00;

    box-sizing: border-box;
}

/* -- Evento -- */
.container .piña {
    border-radius: 100%;
    background: transparent;
    height: 0px;
    border-bottom: 7px solid #000;
}



header { 
    height: 100vh;
    background: #0a0a0a;
    transition: transform .3s ease, flex .3s ease;
    position: relative;

}

/* -- Evento -- */
.move {
    flex: 1
}


.menu {
    position: absolute;
    top: 40px;
    left: -80px;
    border-radius: 50%;
    background: rgb(120, 63, 200);
    transition: background .3s ease, transform .3s ease, right .3s ease;
}

.menu:hover {
    background: rgb(113, 69, 208);
    transform: scale(1.1);
}

.menu i {
    font-size: 1.6em;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1050px) {
    .move {
        flex: 1.5
    }
    
}